
<%- include('partials/header') %>
<div class="alert alert-danger">
  <h3>Erro</h3>
  <p><%= mensagem %></p>
  <a href="/" class="btn btn-primary">Voltar ao inicio</a>
</div>
<%- include('partials/footer') %>
